
.mb-3 {
  margin-bottom: 16px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form-label {
  margin-bottom: 5px;
  display: block;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.vl {
  border-left: 3px solid grey;
  height: 500px;
}
.text-log{
  font-family: 'Pokemon Solid', sans-serif;
  color: #232323;

}
.text-log:hover{
  cursor: default;
}
.card{
  border: 3px solid grey;

}
.divwrapper{}


.containerlog{
  margin-top: 100px;
  margin-bottom: 170px;
}
.btn-log{
  margin-top: 30px;
  background-color: #6b6f6e;
  color: white;
  border-color: #868a89;
}

.btn-log:hover{
  background-color: #5b5f5f;
  border-color: #868a89;
}
.btn-log:active{
  background-color: #4d5151;
}
.text-info:hover{
  color: #3c5aa6 !important;
}
.formdiv{
  margin-top: 40px;
}
.divlog{
  color: white;
  background-color: #494848;
  background-image: var(--bs-gradient);
}

.card-body{
  background-color: #494848;
}
.div-image{
  background-color: white;
}
