.body{
  background: #1a1b1b;
  color: white !important;
}

.core-text{
  font-family: 'Pokemon Solid', sans-serif;
  background-color: #1a1b1b;
  opacity: 200%;
  font-size: 220px;
  text-align: center;
  font-weight: 400;
  mix-blend-mode: darken;
  padding-bottom: 70px;

}

.core-text:hover{
  cursor: default;
}


.div-video{
  background-color: #1a1b1b;
  position:relative;

}

.video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 73%;
  clip-path: content-box;
  background-color: #1a1b1b;
}


