<div class="div-video">
  <video class="video" autoplay muted preload="auto" loop>
    <source src="assets/videos/pikavideo.mp4">
  </video>
  <h1 class="core-text">PokeCore</h1>
</div>
<div class="container">
  <h1 class="text-center titulo"><strong>Tu repositorio de Pokémon y VGC</strong></h1>
  <h2 class="text-center subtit">
    <strong>  Empieza a usarlo <a *ngIf="(authService.isLoggedIn)" href="pokecore/teams" class="text-center ahoratext">AHORA</a><a *ngIf="!(authService.isLoggedIn)" href="pokecore/login" class="text-center ahoratext" >AHORA</a></strong>
  </h2>
</div>
