
<div class="container">
  <h2 class="faq-header">Preguntas Frecuentes</h2>
  <div class="accordion" id="faqAccordion">


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Cual es la diferencia entre este repositorio y el de Pokemon Showdown?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          El repositorio del propio Pokemon Showdown, se guarda en la memoria caché, es decir, si cambias de navegador o reinicias el caché, pierdes tus equipos. Sin embargo, con PokeCore, nunca tendras ese problema ya que trabajamos con los mejores servidores para guardar SIEMPRE tus equipos.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCERO">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCERO" aria-expanded="false" aria-controls="collapseCero">
          ¿Qué es PokeCore?
        </button>
      </h2>
      <div id="collapseCERO" class="accordion-collapse collapse" aria-labelledby="headingCERO" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          PokeCore es un repositorio de Pokemon Showdown, en el cual podrias guardar tus equipos favoritos sin el miedo a perderlos, junto con el resto de equipos de la comunidad.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Hay un límite de equipos que puedo guardar?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          No, puedes guardar tantos equipos como quieras, sin límite.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Hasta que generación acepta PokeCore?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
          PokeCore acepta todos los pokemons, desde la primera hasta la última generación, trabajamos sobre los datos de Pokemon Showdown, a si que si existe, lo puedes guardar.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          ¿Hay algún gasto por el servicio?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
        <div class="accordion-body">
         No, PokeCore es completamente gratuito, sin ningún coste.
        </div>
      </div>
    </div>
  </div>
</div>
