.divpokemon {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-light.p-1.rounded{
}
.divjajaxd{
  margin-top: 5px;
}
.modal{
  color: #333333;
  opacity: 90%;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.species-container:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.species-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: #1a1b1b;
}

.team-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
  margin-right: 20px;
  margin-top: 5px;
}

.species-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 200px;
  text-align: center;
  margin-right: 20px;
}

.species-icon {
  display: inline-block; /* Cada icono se vuelve un bloque individual */
  white-space: nowrap; /* Previene que se solapen */
}

.spacer {
  flex-grow: 1;
}

.favorite-button {
  margin-right: 10px;
}
.favorited {
  color: gold;
}
.btn-close{
  align-content: end;
}
.btn-clipboard{
  margin-left: 20px;
}
.comments {
  flex: 0 0 250px; /* Arregla el width */
  overflow: hidden;
  white-space: nowrap;
  margin-right: 40px;
  position: relative;
}

.comments:hover::after {
  content: attr(title);
  position: absolute;
  left: 100%;
  white-space: normal;
  display: block;
  width: 200px;
  padding: 4px 8px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  z-index: 100;
  cursor: pointer;
}
.pkmnwrap{
  background-color: #333232;
}
.toast-wrap{
  background-color: #cfd2d2;
  color: #5b5f5f;
}
.toast-container{
  margin-top: 50px;
  margin-right: 20px;
}
.comments {
  white-space: nowrap;
  max-width: 300px;
  text-align: center;
}
